<!-- Este es el sniper  -->
<div
  *ngIf="loading"
  class="fixed inset-0 flex items-center justify-center z-50"
>
  <div class="fixed inset-0 bg-black opacity-50"></div>
  <div class="flex items-center justify-center">
    <div class="flex flex-col items-center">
      <div
        class="animate-spin rounded-full h-20 w-20 border-t-4 border-b-4 border-primary"
      ></div>
      <div class="flex items-center mt-2">
        <span class="text-xl font-bold mr-1">Cargando</span>
        <span class="text-xl animate-bounce">...</span>
      </div>
    </div>
  </div>
</div>
<!-- Esta es la pagina  -->
<div
  *ngIf="!this.loading"
  class="transition ease-in-out delay-150 w-[95%] h-[90%] lg:h-[95%] lg:m-2 mx-4 my-2 bg-cameo border-4 border-camelot rounded-lg overflow-x-hidden duration-300"
>
<div
class="grid grid-cols-1 mx-4 text-center text-3xl font-bold text-camelot py-2"
>
    Gestión de usuarios
  </div>

  <div class="grid grid-cols-1 mx-4">
    <div class="flex">
      <input
        [(ngModel)]="search"
        class="px-2 mr-2 py-3 border-b-2 border-camelot rounded-lg bg-none text-camelot text-xs font-semibold tracking-wide focus:outline-none focus:border-camelot-400"
        placeholder="Buscar por: CI, Email, rol..."
      />
      <button
        [routerLink]="'../registrar'"
        type="button"
        class="px-2 py-3 bg-nile-blue text-cameo text-xs font-bold uppercase rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      >
        Registrar Admin
      </button>
    </div>
  </div>

  <div class="w-full lg:h-auto px-4 py-2 rounded-lg shadow hidden lg:block">
    <table class="w-full lg:h-[85%] my-2">
      <thead class="bg-nile-blue-200 border-b-2 border-nile-blue text-cameo">
        <tr>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            CI
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Usuario
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Rol
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Estado
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            <div class="flex justify-between">
              <label class="flex items-center justify-center">Acciones</label
              ><button
                type="button"
                (click)="refresh()"
                title="Refrescar"
                class="flex items-center justify-center shadow-md shadow-gold p-2"
              >
                <i
                  class="fa fa-rotate-right text-xl font-extrabold"
                  aria-hidden="true"
                ></i>
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios | filterTables : search">
          <td class="p-3 text-sm text-black-100 tracking-wide text-center">
            {{ usuario.person.CI }}
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-center">
            {{ usuario.person.email }}
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-center uppercase">
            <ng-container *ngIf="usuario.role === 'ADMIN'; else teacherCheck">
              Administrador
            </ng-container>
            <ng-template #teacherCheck>
              <ng-container *ngIf="usuario.role === 'TEACHER'; else deceCheck">
                Docente
              </ng-container>
              <ng-template #deceCheck>
                {{ usuario.role === "DECE" ? "DECE" : usuario.role }}
              </ng-template>
            </ng-template>
          </td>
          
          <td class="p-3 text-sm text-black-100 tracking-wide">
            <label
              class="pl-[0.15rem] hover:cursor-pointer flex flex-col items-center justify-center"
            >
              <div
                [ngClass]="
                  usuario.status
                    ? 'bg-green bg-opacity-25 '
                    : 'bg-red bg-opacity-25 '
                "
                class="bg-opacity-25 rounded-lg p-2 text-nile-blue font-bold text-center tracking-wider text-sm"
              >
                {{ usuario.status ? "Activo" : "Inactivo" }}
              </div>
            </label>
          </td>

          <td class="p-3 text-sm text-black-100 tracking-wide text-center">
            <div class="flex items-center justify-center">
              <button
                (click)="changedStatusUser(usuario._id, !usuario.status)"
                type="button"
                class="border-2 border-camelot text-sm text-nile-blue bg-cameo rounded-lg px-2 py-1 mr-2 flex items-center justify-center"
                [style.textAlign]="usuario.status ? 'left' : 'right'"
                title="Cambiar estado"
              >
                <ng-container *ngIf="usuario.status; else offState">
                  <i
                    class="fa fa-circle text-2xl font-bold text-avocado text-opacity-70"
                  ></i>
                  <span class="ml-2">ON</span>
                </ng-container>
                <ng-template #offState>
                  <span class="mr-2">OFF</span>
                  <i class="fa fa-circle text-2xl font-bold text-red-500"></i>
                </ng-template>
              </button>
              <button
                (click)="delete(usuario._id)"
                type="button"
                title="Eliminar usuario"
                class="px-2"
              >
                <i
                  class="fa fa-trash text-3xl text-red-500 font-bold hover:text-nile-blue"
                ></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="w-full lg:h-auto px-4 py-2 rounded-lg lg:hidden">
    <div
      class="w-full h-full flex flex-col mb-2 border border-camelot rounded-lg hover:shadow-sm hover:shadow-camelot-300"
      *ngFor="let usuario of usuarios | filterTables : search"
    >
      <!-- CI -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">CI:</div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ usuario.person.CI }}
        </div>
      </div>
      <!-- Usuario -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">Usuario:</div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ usuario.person.email }}
        </div>
      </div>
      <!-- Rol -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">Rol:</div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ usuario.role }}
        </div>
      </div>
      <!-- Estado -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">Estado:</div>
        <div class="col-span-3 break-all text-nile-blue">
          <div
            *ngIf="usuario.status"
            class="bg-green bg-opacity-25 rounded-lg p-2 text-nile-blue text-center tracking-wider text-sm"
          >
            Activo
          </div>
          <div
            *ngIf="!usuario.status"
            class="bg-red bg-opacity-25 rounded-lg p-2 text-nile-blue text-center tracking-wider text-sm"
          >
            Inactivo
          </div>
        </div>
      </div>
      <!-- Acciones -->

      <div class="flex flex-row gap-2 justify-end my-2">
        <button
          (click)="changedStatusUser(usuario._id, !usuario.status)"
          type="button"
          class="border-2 border-camelot text-sm text-nile-blue bg-cameo rounded-lg px-2 py-1 mr-2"
        >
          Habilitar
        </button>
        <button
          [disabled]="!usuario.status"
          type="button"
          class="border-2 border-camelot text-sm text-nile-blue bg-cameo rounded-lg px-2 py-1 mr-2"
        >
          Deshabilitar
        </button>
      </div>
    </div>
  </div>
</div>
