<!-- Este es el sniper  -->
<div
  *ngIf="loading"
  class="fixed inset-0 flex items-center justify-center z-50"
>
  <div class="fixed inset-0 bg-black opacity-50"></div>
  <div class="flex items-center justify-center">
    <div class="flex flex-col items-center">
      <div
        class="animate-spin rounded-full h-20 w-20 border-t-4 border-b-4 border-primary"
      ></div>
      <div class="flex items-center mt-2">
        <span class="text-xl font-bold mr-1">Cargando</span>
        <span class="text-xl animate-bounce">...</span>
      </div>
    </div>
  </div>
</div>
<!-- Esta es la pagina  -->
<div
  *ngIf="!this.loading"
  class="transition ease-in-out delay-150 w-[95%] h-[90%] lg:h-[95%] lg:m-2 mx-4 my-2 bg-cameo border-4 border-camelot rounded-lg overflow-x-hidden duration-300"
>
  <div
    class="w-full lg:h-[7%] text-center text-3xl font-bold text-camelot py-2"
  >
    Casos Asignados
  </div>

  <div class="w-full lg:h-auto px-4 py-2 rounded-lg shadow hidden lg:block">
    <table class="w-full lg:h-[92%] my-2">
      <thead class="bg-nile-blue-200 border-b-2 border-nile-blue text-cameo">
        <tr>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Caso
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Estudiante
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Docente
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Institución
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            <div class="flex justify-between">
              <label class="flex items-center justify-center">Acciones</label
              >
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- recorro casos y añado indice -->
        <tr *ngFor="let caso of casos; let i = index; of: casos">
          <td class="p-3 text-sm text-black-100 tracking-wide text-center">
            <strong>{{ i + 1 }}</strong>
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-left pl-2">
            <strong>CI: </strong>{{ caso.CI }}
            <br />
            <strong>Nombres: </strong>{{ caso.name }}
            <br />
            <strong>Apellidos: </strong>{{ caso.lastName }}
            <br />
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-left pl-2">
            <strong>CI: </strong>{{ caso.CIteacher }}
            <br />
            <strong>Nombres: </strong>{{ caso.nameT }}
            <br />
            <strong>Apellidos: </strong>{{ caso.lastNameT }}
            <br />
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-center">
            <strong>Institución</strong>{{ caso.institution }}
          </td>
          <td
            class="p-3 text-sm text-black-100 tracking-wide flex items-center justify-center"
          >
            <!-- Si este esta en inactive se muestra una forma de boton en rojo  desahabilitado y dira Atendido-->
            <div [ngSwitch]="caso.statusTestTeacher">
              <div *ngSwitchCase="false">
                <button
                  [routerLink]="'../evaluar/' + caso.id"
                  type="button"
                  class="btnAccion"
                >
                  Evaluar
                </button>
              </div>
              <div *ngSwitchCase="true">
                <button type="button" class="btnAccion" disabled>
                  Atendido
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="w-full lg:h-auto px-4 py-2 rounded-lg lg:hidden">
    <div
      class="w-full h-full flex flex-col mb-2 border border-camelot rounded-lg hover:shadow-sm hover:shadow-camelot-300"
      *ngFor="let caso of casos"
    >
      <div
        class="w-full grid grid-cols-1 break-all items-center space-x-2 text-center text-camelot text-lg px-2 font-bold underline"
      >
        Evaluador
      </div>
      <!-- CI -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">CI:</div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ caso.CIteacher }}
        </div>
      </div>
      <!-- Nombre -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">Nombre:</div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ caso.nameT }} {{ caso.lastNameT }}
        </div>
      </div>

      <div
        class="w-full grid grid-cols-1 break-all items-center space-x-2 text-center text-camelot text-lg px-2 font-bold underline"
      >
        Estudiante
      </div>
      <!-- CI -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">CI:</div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ caso.CI }}
        </div>
      </div>
      <!-- Nombre -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">Nombre:</div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ caso.name }} {{ caso.lastName }}
        </div>
      </div>

      <!-- Status -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">
          Institución
        </div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ caso.institution }}
        </div>
      </div>

      <!-- Acciones -->

      <div class="flex flex-row gap-2 justify-end my-2">
        <div [ngSwitch]="caso.statusTestTeacher">
          <div *ngSwitchCase="false">
            <button
              [routerLink]="'../evaluar/' + caso.id"
              type="button"
              class="btnAccion"
            >
              Evaluar
            </button>
          </div>
          <div *ngSwitchCase="true">
            <button type="button" class="btnAccion" disabled>Atendido</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
