<div
  class="w-[95%] h-[90%] lg:h-[95%] lg:m-2 mx-4 my-2 bg-cameo border-4 border-camelot rounded-lg overflow-x-hidden"
>
  <div
    class="w-full lg:h-[7%] text-center text-3xl font-bold text-camelot py-2"
  >
    Gestión personas
  </div>

  <div
    class="w-full lg:h-[8%] h-[10%] flex flex-row lg:justify-start justify-between py-2 lg:gap-4"
  >
    <input
      [(ngModel)]="search"
      class="ml-4 px-2 border-b-2 border-camelot rounded-lg bg-none text-camelot text-xs font-semibold tracking-wide w-[40%] lg:w-[20%] focus:outline-none focus:border-camelot-400"
      placeholder="Buscar..."
    />
  </div>

  <div class="w-full lg:h-auto px-4 py-2 rounded-lg shadow hidden lg:block">
    <table class="w-full lg:h-[92%] my-2">
      <thead class="bg-nile-blue-200 border-b-2 border-nile-blue text-cameo">
        <tr>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            CI
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Nombres
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Admin
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            DECE
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Teacher
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Student
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Acciones
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of personas | filterTables : search">
          <td class="p-3 text-sm text-black-100 tracking-wide text-left">
            {{ persona.CI }}
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-left">
            {{ persona.name }} {{ persona.lastName }}
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-left">
            <div
              *ngIf="persona.rol === 'ADMIN'"
              class="flex flex-row justify-center"
            >
              <!-- Icono de visto o tick-->
              <i class="fas fa-check text-avocado font-bold text-lg"></i>
            </div>
            <div
              *ngIf="persona.rol !== 'ADMIN'"
              class="flex flex-row justify-center"
            >
              <!-- Icono de x roja-->
              <i class="fas fa-times text-red-500 text-lg"></i>
            </div>
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-left">
            <div
              *ngIf="persona.rol === 'DECE'"
              class="flex flex-row justify-center"
            >
              <!-- Icono de visto o tick-->
              <i class="fas fa-check text-avocado font-bold text-lg"></i>
            </div>
            <div
              *ngIf="persona.rol !== 'DECE'"
              class="flex flex-row justify-center"
            >
              <!-- Icono de x roja-->
              <i class="fas fa-times text-red-500 text-lg"></i>
            </div>
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-left">
            <div
              *ngIf="persona.rol === 'TEACHER'"
              class="flex flex-row justify-center"
            >
              <!-- Icono de visto o tick-->
              <i class="fas fa-check text-avocado font-bold text-lg"></i>
            </div>
            <div
              *ngIf="persona.rol !== 'TEACHER'"
              class="flex flex-row justify-center"
            >
              <!-- Icono de x roja-->
              <i class="fas fa-times text-red-500 text-lg"></i>
            </div>
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-left">
            <div
              *ngIf="persona.rol === 'STUDENT'"
              class="flex flex-row justify-center"
            >
              <!-- Icono de visto o tick-->
              <i class="fas fa-check text-avocado font-bold text-lg"></i>
            </div>
            <div
              *ngIf="persona.rol !== 'STUDENT'"
              class="flex flex-row justify-center"
            >
              <!-- Icono de x roja-->
              <i class="fas fa-times text-red-500 text-lg"></i>
            </div>
          </td>

          <td class="p-3 text-sm text-black-100 tracking-wide text-left">
            <div
              class="flex flex-row justify-center"
              *ngIf="persona.rol === ''"
            >
              <button
                (click)="deletePersona(persona.id)"
                class="bg-camelot text-cameo rounded-full p-2 m-1 hover:bg-camelot-400"
              >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
