<div
  class="transition ease-in-out delay-150 w-[95%] h-[90%] lg:h-[95%] lg:m-2 mx-4 my-2 bg-cameo border-4 border-camelot rounded-lg overflow-x-hidden duration-300 flex justify-center"
>
  <!-- Este es el sniper  -->
  <!-- ===================================================== -->
  <div *ngIf="loading" class="flex items-center justify-center">
    <div class="fixed inset-0 bg-black opacity-50"></div>
    <div class="flex items-center justify-center">
      <div class="flex flex-col items-center">
        <div
          class="animate-spin rounded-full h-20 w-20 border-t-4 border-b-4 border-primary"
        ></div>
        <div class="flex items-center mt-2">
          <span class="text-xl font-bold mr-1">Cargando</span>
          <span class="text-xl animate-bounce">...</span>
        </div>
      </div>
    </div>
  </div>
  <!-- ===================================================== -->
  <div *ngIf="!this.loading" class="w-full">
    <div
      class="grid grid-cols-1 mx-4 text-center text-3xl font-bold text-camelot my-5"
    >
      Gestión de estudiantes
    </div>

    <div class="grid grid-cols-1 mx-4">
      <div class="flex">
        <input
          [(ngModel)]="search"
          class="mx-3 px-2 py-3 border-b-2 border-camelot rounded-lg bg-none text-camelot text-xs font-semibold tracking-wide  lg:w-[20%] focus:outline-none focus:border-camelot-400"
          placeholder="Buscar por cédula, nombres..."
        />
      </div>
    </div>

    <div class="w-full lg:h-auto px-4 py-2 rounded-lg shadow hidden lg:block">
      <table class="w-full lg:h-[85%] my-2">
        <thead class="bg-nile-blue-200 border-b-2 border-nile-blue text-cameo">
          <tr>
            <th class="p-3 text-sm font-semibold tracking-wide text-center">
              CI
            </th>
            <th class="p-3 text-sm font-semibold tracking-wide text-center">
              Nombres
            </th>
            <th class="p-3 text-sm font-semibold tracking-wide text-center">
              Edad
            </th>
            <th class="p-3 text-sm font-semibold tracking-wide text-center">
              Género
            </th>
            <th class="p-3 text-sm font-semibold tracking-wide text-center">
              Teléfono
            </th>
            <th class="p-3 text-sm font-semibold tracking-wide text-center">
              Institución
            </th>
            <th class="p-3 text-sm font-semibold tracking-wide text-center">
              Grado
            </th>
            <th class="p-3 text-sm font-semibold tracking-wide text-center">
              Paralelo
            </th>
            <th class="p-3 text-sm font-semibold tracking-wide text-center">
              Estado
            </th>
            <th class="p-3 text-sm font-semibold tracking-wide text-center">
             
                <label class="flex items-center justify-center">Acciones</label>
            
            </th>
          </tr>
        </thead>
        <tbody *ngIf="estudiantes.length > 0">
          <tr *ngFor="let estudiante of estudiantes | filterTables : search">
            <td class="p-3 text-sm text-black-100 tracking-wide text-left">
              {{ estudiante.CI }}
            </td>
            <td class="p-3 text-sm text-black-100 tracking-wide text-left">
              {{ estudiante.name }} {{ estudiante.lastName }}
            </td>
            <td class="p-3 text-sm text-black-100 tracking-wide text-center">
              {{ estudiante.age }}
            </td>
            <td class="p-3 text-sm text-black-100 tracking-wide text-center">
              {{ estudiante.gender }}
            </td>
            <td class="p-3 text-sm text-black-100 tracking-wide text-center">
              {{ estudiante.phone }}
            </td>
            <td class="p-3 text-sm text-black-100 tracking-wide text-center">
              {{ estudiante.nameInstitution }}
            </td>
            <td class="p-3 text-sm text-black-100 tracking-wide text-center">
              {{ estudiante.grade }}
            </td>
            <td
              class="p-3 text-sm text-black-100 tracking-wide text-center uppercase"
            >
              {{ estudiante.parallel }}
            </td>
            <td class="p-3 text-sm text-black-100 tracking-wide">
              <label
                class="pl-[0.15rem] hover:cursor-pointer flex flex-col items-center justify-center"
              >
                <div
                  [ngClass]="
                    estudiante.status
                      ? 'bg-green bg-opacity-25 '
                      : 'bg-red bg-opacity-25 '
                  "
                  class="bg-opacity-25 rounded-lg p-2 text-nile-blue font-bold text-center tracking-wider text-sm"
                >
                  {{ estudiante.status ? "Activo" : "Inactivo" }}
                </div>
              </label>
            </td>
            <td
              class="p-3 text-sm text-black-100 tracking-wide text-center flex flex-row items-center justify-center"
            >
              <button
                [routerLink]="'../editar/' + estudiante.id"
                type="button"
                class="px-2"
                title="Editar estudiante"
              >
                <i
                  class="fa-solid fa-pen-to-square text-3xl text-nile-blue-200 hover:text-camelot-400"
                ></i>
              </button>
              <button
                (click)="delete(estudiante.id)"
                type="button"
                class="px-2"
                title="Eliminar estudiante"
              >
                <i
                  class="fa fa-trash text-3xl text-red-500 font-bold hover:text-nile-blue"
                ></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="w-full lg:h-auto px-4 py-2 rounded-lg lg:hidden">
      <div
        class="w-full flex flex-col mb-2 border border-camelot rounded-lg hover:shadow-sm hover:shadow-camelot-300"
        *ngFor="let estudiante of estudiantes | filterTables : search"
      >
        <!-- CI -->
        <div
          class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
        >
          <div class="col-span-2 break-all font-bold text-camelot">CI:</div>
          <div class="col-span-3 break-all text-nile-blue">
            {{ estudiante.CI }}
          </div>
        </div>
        <!-- Nombres -->
        <div
          class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
        >
          <div class="col-span-2 break-all font-bold text-camelot">
            Nombres:
          </div>
          <div class="col-span-3 break-all text-nile-blue gap-1">
            {{ estudiante.name }} {{ estudiante.lastName }}
          </div>
        </div>
        <!-- Edad -->
        <div
          class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
        >
          <div class="col-span-2 break-all font-bold text-camelot">Edad:</div>
          <div class="col-span-3 break-all text-nile-blue">
            {{ estudiante.age }}
          </div>
        </div>
        <!-- genero -->
        <div
          class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
        >
          <div class="col-span-2 break-all font-bold text-camelot">Genero:</div>
          <div class="col-span-3 break-all text-nile-blue">
            {{ estudiante.gender }}
          </div>
        </div>
        <!-- Teléfono -->
        <div
          class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
        >
          <div class="col-span-2 break-all font-bold text-camelot">
            Teléfono:
          </div>
          <div class="col-span-3 break-all text-nile-blue">
            {{ estudiante.phone }}
          </div>
        </div>
        <!-- Estado -->
        <div
          class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
        >
          <div class="col-span-2 break-all font-bold text-camelot">Estado:</div>
          <div class="col-span-3 break-all text-nile-blue">
            <label
              class="inline-block pl-[0.15rem] hover:cursor-pointer"
              for="flexSwitchCheckDefault"
            >
              <div
                *ngIf="estudiante.status"
                class="bg-green bg-opacity-25 rounded-lg p-2 text-nile-blue text-center tracking-wider text-sm"
              >
                Activo
              </div>
              <div
                *ngIf="!estudiante.status"
                class="bg-red bg-opacity-25 rounded-lg p-2 text-nile-blue text-center tracking-wider text-sm"
              >
                Inactivo
              </div>
            </label>
          </div>
        </div>
        <!-- Institución -->
        <div
          class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
        >
          <div class="col-span-2 break-all font-bold text-camelot">
            Institución:
          </div>
          <div class="col-span-3 break-all text-nile-blue">
            {{ estudiante.nameInstitution }}
          </div>
        </div>
        <!-- Grade -->
        <div
          class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
        >
          <div class="col-span-2 break-all font-bold text-camelot">Grado:</div>
          <div class="col-span-3 break-all text-nile-blue">
            {{ estudiante.grade }}
          </div>
        </div>
        <!-- Paralelo -->
        <div
          class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
        >
          <div class="col-span-2 break-all font-bold text-camelot">
            Paralelo:
          </div>
          <div class="col-span-3 break-all text-nile-blue">
            {{ estudiante.parallel }}
          </div>
        </div>
        <!-- Acciones -->
        <div class="flex flex-row gap-2 justify-end my-2">
          <button
            [routerLink]="'../editar/' + estudiante.id"
            type="button"
            class="border-2 border-camelot text-sm text-nile-blue bg-cameo rounded-lg px-2 py-1 mr-2"
          >
            Editar
          </button>
          <button
            (click)="delete(estudiante.id)"
            type="button"
            class="border-2 border-camelot text-sm text-nile-blue bg-cameo rounded-lg px-2 py-1 mr-2"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>

    <div
      *ngIf="estudiantes.length === 0"
      class="mx-4 flex bg-red-700 text-red text-xl rounded-lg font-bold items-center justify-center py-2 text-center"
    >
      No hay datos para mostrar
    </div>
  </div>
</div>
