<div
  class="w-[95%] lg:h-[95%] m-2 bg-cameo border-4 border-camelot rounded-lg overflow-x-hidden"
>
  <div
    class="w-full lg:h-[8%] pt-4 text-center text-3xl font-bold text-camelot"
  >
    Edición docente
  </div>
  <!-- [formGroup]="this.formPreguntas.form" (ngSubmit)="update()"-->
  <form
    [formGroup]="this.formDocente.form"
    (ngSubmit)="update()"
    class="w-full lg:h-[92%]"
  >
    <fieldset class="w-full flex flex-col ">
      <!-- Datos personales linea divisioria -->
      <div
        class="lg:w-[60%] w-[80%] h-[10%] py-2 mb-2 text-start text-lg font-bold text-camelot-400 border-b-2 border-camelot flex justify-start items-end"
      >
        Datos personales
      </div>
      <div class="lg:w-[60%] w-[80%] grid lg:grid-cols-4 mb-4 grid-cols-1">
        <div class="w-full col-span-2 text-camelot text-lg mr-2 text-left">
          <label for="name"> Nombre: </label>
        </div>
        <div class="w-full col-span-2 text-nile-blue text-lg">
          <input
            type="text"
            id="name"
            formControlName="name"
            class="w-full border-2 border-camelot rounded-lg focus:ring-camelot-400 focus:border-camelot-400"
          />
        </div>
      </div>

      <!-- Apellido -->
      <div class="lg:w-[60%] w-[80%] grid lg:grid-cols-4 mb-4 grid-cols-1">
        <div class="w-full col-span-2 text-camelot text-lg mr-2 text-left">
          <label for="lastName"> Apellido: </label>
        </div>
        <div class="w-full col-span-2 text-nile-blue text-lg">
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="w-full border-2 border-camelot rounded-lg focus:ring-camelot-400 focus:border-camelot-400"
          />
        </div>
      </div>

      <!-- Cedula -->
      <div class="lg:w-[60%] w-[80%] grid lg:grid-cols-4 mb-4 grid-cols-1">
        <div class="w-full col-span-2 text-camelot text-lg mr-2 text-left">
          <label for="cedula"> Cédula: </label>
        </div>
        <div class="w-full col-span-2 text-nile-blue text-lg">
          <input
            type="text"
            id="cedula"
            formControlName="ciTeacher"
            class="w-full border-2 border-camelot rounded-lg focus:ring-camelot-400 focus:border-camelot-400"
          />
        </div>
      </div>

      <!-- dirección -->
      <div class="lg:w-[60%] w-[80%] grid lg:grid-cols-4 mb-4 grid-cols-1">
        <div class="w-full col-span-2 text-camelot text-lg mr-2 text-left">
          <label for="direccion"> Dirección: </label>
        </div>
        <div class="w-full col-span-2 text-nile-blue text-lg">
          <input
            type="text"
            id="direccion"
            formControlName="address"
            class="w-full border-2 border-camelot rounded-lg focus:ring-camelot-400 focus:border-camelot-400"
          />
        </div>
      </div>

      <!-- Telefono -->
      <div class="lg:w-[60%] w-[80%] grid lg:grid-cols-4 mb-4 grid-cols-1">
        <div class="w-full col-span-2 text-camelot text-lg mr-2 text-left">
          <label for="telefono"> Telefono: </label>
        </div>
        <div class="w-full col-span-2 text-nile-blue text-lg">
          <input
            type="text"
            id="telefono"
            formControlName="phone"
            class="w-full border-2 border-camelot rounded-lg focus:ring-camelot-400 focus:border-camelot-400"
          />
        </div>
      </div>

      <!-- email -->
      <div class="lg:w-[60%] w-[80%] grid lg:grid-cols-4 mb-4 grid-cols-1">
        <div class="w-full col-span-2 text-camelot text-lg mr-2 text-left">
          <label for="email"> Email: </label>
        </div>
        <div class="w-full col-span-2 text-nile-blue text-lg">
          <input
            type="text"
            id="email"
            formControlName="email"
            class="w-full border-2 border-camelot rounded-lg focus:ring-camelot-400 focus:border-camelot-400"
          />
        </div>
      </div>
      <div
        class="lg:w-[60%] w-[80%] h-[10%] py-2 mb-2 text-start text-lg font-bold text-camelot-400 border-b-2 border-camelot flex justify-start items-end"
      >
        Datos institucionales
      </div>
      <!-- institucion -->
      <div class="lg:w-[60%] w-[80%] grid lg:grid-cols-4 mb-4 grid-cols-1">
        <div class="w-full col-span-2 text-camelot text-lg mr-2 text-left">
          <label for="institucion"> Institución: </label>
        </div>
        <div class="w-full col-span-2 text-nile-blue text-lg">
          <select
            id="selectTeacher"
            formControlName="nameInstitucion"
            class="w-full border-2 border-camelot rounded-lg focus:ring-camelot-400 focus:border-camelot-400"
          >
            <option value="0">Seleccione una institución</option>
            <option
              *ngFor="let institucion of instituciones"
              [value]="institucion.nameInstitution"
            >
              {{ institucion.nameInstitution }}
            </option>
          </select>
        </div>
      </div>

      <div
        class="lg:w-[60%] w-[80%] grid lg:grid-cols-4 mb-4 grid-cols-1 justify-end items-end"
      >
        <div
          class="w-full flex text-camelot text-lg mr-2 mb-2 justify-end items-end"
        >
          <!-- Cancelar (click)="cancel()" -->
          <button
            type="button"
            (click)="cancel()"
            class="border-2 border-camelot text-base text-nile-blue bg-cameo rounded-lg px-2 py-1 hover:bg-nile-blue hover:text-cameo mr-2"
          >
            Cancelar
          </button>
          <!-- Editar  [disabled]="this.formPreguntas.form.invalid" -->
          <button
            type="submit"
            [disabled]="this.formDocente.form.invalid"
            class="border-2 border-camelot text-base text-nile-blue bg-cameo rounded-lg px-2 py-1 hover:bg-nile-blue hover:text-cameo"
          >
            Editar
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
