<div
  class="w-[95%] h-[90%] lg:h-[95%] lg:m-2 mx-4 my-2 bg-cameo border-4 border-camelot rounded-lg overflow-x-hidden"
>
  <div
    class="w-full lg:h-[7%] text-center text-3xl font-bold text-camelot py-2"
  >
    Gestión de tests estudiantes
  </div>

  <div
    class="w-full lg:h-[8%] h-[10%] flex flex-row lg:justify-start justify-between py-2 lg:gap-4"
  >
    <input
      [(ngModel)]="search"
      class="ml-4 px-2 border-b-2 border-camelot rounded-lg bg-none text-camelot text-xs font-semibold tracking-wide w-[40%] lg:w-[20%] focus:outline-none focus:border-camelot-400"
      placeholder="Buscar..."
    />
  </div>

  <div class="w-full lg:h-auto px-4 py-2 rounded-lg shadow hidden lg:block">
    <table class="w-full lg:h-[92%] my-2">
      <thead class="bg-nile-blue-200 border-b-2 border-nile-blue text-cameo">
        <tr>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Evaluador
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Estudiante
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Estado
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Puntaje
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Fecha Aplicacion
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-center">
            Acciones
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of tests | filterTables : search">
          <td class="p-3 text-sm text-black-100 tracking-wide text-left">
            <div class="grid grid-cols-5">
              <div class="col-span-2 flex flex-col">
                <strong>CI:</strong>
                <strong>Nombres:</strong>
              </div>
              <div class="col-span-3 flex flex-col text-left">
                <label>{{ test.ciDece }}</label>
                <label>{{ test.nameDece }} {{ test.lastNameDece }}</label>
              </div>
            </div>
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-left">
            <div class="grid grid-cols-5">
              <div class="col-span-2 flex flex-col">
                <strong>CI:</strong>
                <strong>Nombres:</strong>
              </div>
              <div class="col-span-3 flex flex-col text-center">
                <label>{{ test.ciStudent }}</label>
                <label>{{ test.nameStudent }} {{ test.lastNameStudent }}</label>
              </div>
            </div>
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-left">
            {{ test.statusTestStudent }}
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-left">
            {{ test.score }}
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-left">
            {{ test.createAt | date : "dd/MM/yyyy" }}
          </td>
          <td class="p-3 text-sm text-black-100 tracking-wide text-left">
            <!-- Boton eliminar icono de eliminar  -->
            <button
              (click)="deleteTest(test.id)"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="w-full lg:h-auto px-4 py-2 rounded-lg lg:hidden">
    <div
      class="w-full h-full flex flex-col mb-2 border border-camelot rounded-lg hover:shadow-sm hover:shadow-camelot-300"
      *ngFor="let test of tests"
    >
      <div
        class="w-full grid grid-cols-1 break-all items-center space-x-2 text-center text-camelot text-lg px-2 font-bold underline"
      >
        Evaluador
      </div>
      <!-- CI -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">CI:</div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ test.ciDece }}
        </div>
      </div>
      <!-- Nombre -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">Nombre:</div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ test.nameDece }} {{ test.lastNameDece }}
        </div>
      </div>

      <div
        class="w-full grid grid-cols-1 break-all items-center space-x-2 text-center text-camelot text-lg px-2 font-bold underline"
      >
        Estudiante
      </div>
      <!-- CI -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">CI:</div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ test.ciStudent }}
        </div>
      </div>
      <!-- Nombre -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">Nombre:</div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ test.nameStudent }} {{ test.lastNameStudent }}
        </div>
      </div>

      <!-- Status -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">Estado:</div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ test.status }}
        </div>
      </div>

      <!-- Puntaje -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">Puntaje:</div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ test.score }}
        </div>
      </div>

      <!-- Fecha Aplicacion -->
      <div
        class="w-full grid grid-cols-5 break-all items-left space-x-2 text pl-2 py-2 pr-2"
      >
        <div class="col-span-2 break-all font-bold text-camelot">
          Fecha Aplicacion:
        </div>
        <div class="col-span-3 break-all text-nile-blue">
          {{ test.createdAt | date : "dd/MM/yyyy" }}
        </div>
      </div>

      <!-- Acciones -->
      <div class="flex flex-row gap-2 justify-end my-2">
        <button
          (click)="deleteTest(test._id)"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full"
        >
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
