<div
  class="w-[95%] lg:h-[95%] m-2 bg-cameo border-4 border-camelot rounded-lg overflow-x-hidden"
>
  <div
    class="w-full lg:h-[10%] text-center text-2xl font-bold text-camelot py-4 flex items-center justify-center "
  >
    Registro de encargado del DECE
  </div>

  <form
    [formGroup]="this.formDece.form"
    (ngSubmit)="create()"
    class="w-full lg:h-[93%] pb-2"
  >
    <fieldset class="w-full flex flex-col items-center">
      <!-- Datos personales  -->
      <div
        class="lg:w-[60%] w-[80%] h-[8%] text-start text-lg font-bold text-camelot-400 border-b-2 border-camelot flex items-center"
      >
        Datos personales
      </div>

      <!-- +++++++++++++++++++++++ -->
      <!-- CI -->
      <div class="lg:w-[60%] w-[80%] grid lg:grid-cols-2 mb-4 grid-cols-1">
        <div class="w-full col-span-1 text-camelot text-lg mt-2 py-1 text-left">
          <label for="name">C.I. :</label>
        </div>
        <div
          class="w-full col-span-1 text-nile-blue text-lg flex items-center justify-center mt-1"
        >
          <input
            type="text"
            id="CIS"
            formControlName="CI"
            placeholder="Ingrese el CI"
            (mouseover)="
              formDece.form.get('CI')?.invalid &&
                formDece.form.get('CI')?.touched &&
                notification.showTooltip(controlError.getErrorMessage(this.formDece.form ,'CI'))
            "
            (mouseout)="this.notification.close()"
            class="w-full border-2 border-camelot rounded-lg focus:ring-camelot-400 focus:border-camelot-400 pl-3 py-1"
          />
        </div>
      </div>

      <!-- Nombre -->
      <div class="lg:w-[60%] w-[80%] grid lg:grid-cols-2 mb-4 grid-cols-1">
        <div class="w-full col-span-1 text-camelot text-lg mt-2 py-1 text-left">
          <label for="name"> Nombres:</label>
        </div>
        <div
          class="w-full col-span-1 text-nile-blue text-lg flex items-center justify-center mt-1"
        >
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Ingrese los nombres "
            (mouseover)="
              formDece.form.get('name')?.invalid &&
                formDece.form.get('name')?.touched &&
                notification.showTooltip(controlError.getErrorMessage(this.formDece.form ,'name'))
            "
            (mouseout)="this.notification.close()"
            class="w-full border-2 border-camelot rounded-lg focus:ring-camelot-400 focus:border-camelot-400 pl-3 py-1"
          />
        </div>
      </div>

      <!-- Apellidos -->
      <div class="lg:w-[60%] w-[80%] grid lg:grid-cols-2 mb-4 grid-cols-1">
        <div class="w-full col-span-1 text-camelot text-lg mt-2 py-1 text-left">
          <label for="name"> Apellidos :</label>
        </div>
        <div
          class="w-full col-span-1 text-nile-blue text-lg flex items-center justify-center mt-1"
        >
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            placeholder="Ingrese los apellidos "
            (mouseover)="
              formDece.form.get('lastName')?.invalid &&
                formDece.form.get('lastName')?.touched &&
                notification.showTooltip(controlError.getErrorMessage(this.formDece.form ,'lastName'))
            "
            (mouseout)="this.notification.close()"
            class="w-full border-2 border-camelot rounded-lg focus:ring-camelot-400 focus:border-camelot-400 pl-3 py-1"
          />

        </div>
      </div>

      <!-- Direccion -->
      <div class="lg:w-[60%] w-[80%] grid lg:grid-cols-2 mb-4 grid-cols-1">
        <div class="w-full col-span-1 text-camelot text-lg mt-2 py-1 text-left">
          <label for="address"> Dirección :</label>
        </div>
        <div
          class="w-full col-span-1 text-nile-blue text-lg flex items-center justify-center mt-1"
        >
          <input
            type="text"
            id="address"
            formControlName="address"
            class="form-control"
            placeholder="Ingrese la dirección "
            (mouseover)="
              formDece.form.get('address')?.invalid &&
                formDece.form.get('address')?.touched &&
                notification.showTooltip(controlError.getErrorMessage(this.formDece.form ,'address'))
            "
            (mouseout)="this.notification.close()"
            class="w-full border-2 border-camelot rounded-lg focus:ring-camelot-400 focus:border-camelot-400 pl-3 py-1"
          />
        </div>
      </div>

      <!-- Telefono -->
      <div class="lg:w-[60%] w-[80%] grid lg:grid-cols-2 mb-4 grid-cols-1">
        <div class="w-full col-span-1 text-camelot text-lg mt-2 py-1 text-left">
          <label for="name"> Teléfono :</label>
        </div>
        <div
          class="w-full col-span-1 text-nile-blue text-lg flex items-center justify-center mt-1"
        >
          <input
            type="text"
            id="phone"
            formControlName="phone"
            class="form-control"
            placeholder="Ingrese el teléfono "
            (mouseover)="
              formDece.form.get('phone')?.invalid &&
                formDece.form.get('phone')?.touched &&
                notification.showTooltip(controlError.getErrorMessage(this.formDece.form ,'phone'))
            "
            (mouseout)="this.notification.close()"
            class="w-full border-2 border-camelot rounded-lg focus:ring-camelot-400 focus:border-camelot-400 pl-3 py-1"
          />

        </div>
      </div>

      <!-- Email -->
      <div class="lg:w-[60%] w-[80%] grid lg:grid-cols-2 mb-4 grid-cols-1">
        <div class="w-full col-span-1 text-camelot text-lg mt-2 py-1 text-left">
          <label for="name">Correo electrónico :</label>
        </div>
        <div
          class="w-full col-span-1 text-nile-blue text-lg flex items-center justify-center mt-1"
        >
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="Ingrese el correo electrónico "
            (mouseover)="
              formDece.form.get('email')?.invalid &&
                formDece.form.get('email')?.touched &&
                notification.showTooltip(controlError.getErrorMessage(this.formDece.form ,'email'))
            "
            (mouseout)="this.notification.close()"
            class="w-full border-2 border-camelot rounded-lg focus:ring-camelot-400 focus:border-camelot-400 pl-3 py-1"
          />

        </div>
      </div>
      <!-- +++++++++++++++++++++++ -->

      <div
        class="lg:w-[60%] w-[80%] h-[8%] text-start text-lg font-bold text-camelot-400 border-b-2 border-camelot flex items-center"
      >
        Datos de la institución
      </div>

      <!-- institucion -->
      <div class="lg:w-[60%] w-[80%] grid lg:grid-cols-4 mb-4 grid-cols-1">
        <div class="w-full col-span-2 text-camelot text-lg mr-2 text-left">
          <label for="institucion"> Institución: </label>
        </div>
        <div class="w-full col-span-2 text-nile-blue text-lg">
          <select
            id="selectTeacher"
            formControlName="nameInstitution"
            class="w-full border-2 border-camelot rounded-lg focus:ring-camelot-400 focus:border-camelot-400 my-2 pl-3 py-1"
          >
            <option value="0">Seleccione una institución</option>
            <option
              *ngFor="let institucion of instituciones"
              [value]="institucion.nameInstitution"
            >
              {{ institucion.nameInstitution }}
            </option>
          </select>
        </div>
      </div>

      <div class="lg:w-[60%] w-[80%] grid grid-cols-1 mb-4">
        <div class="w-full flex text-camelot text-lg mr-2 mb-2 justify-end">
          <!-- Cancelar (click)="cancel()" -->
          <button
            type="button"
            (click)="cancel()"
          
            class="border-2 border-camelot lg:text-lg text-nile-blue bg-cameo rounded-lg lg:p-3 p-2 hover:bg-nile-blue hover:text-cameo mr-2"
            >
            Cancelar
          </button>
          <!-- Editar  [disabled]="this.formPreguntas.form.invalid" -->
          <button
            type="submit"
            [disabled]="this.formDece.form.invalid"
          
            class="border-2 border-camelot lg:text-lg text-nile-blue bg-cameo rounded-lg lg:p-3 p-2 hover:bg-nile-blue hover:text-cameo"
            >
            Registrar
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
